/*
Theme Name: Helene Hulak
Theme URI: http://www.helenehulak.com/
Description: Thème enfant du thème gridsby
Author: Laetitia Pot
Template: gridsby
Version: 0.1.0

/* HEADER */

.site-header {
  position: absolute;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0; /* override */
  background: #f10554;
}

.site-header + section {
  padding-top: 50px;
}

.site-header .grid {
  margin: 0; /* override */
  min-width: 100%;
}

.home .site-header {
  background: #0000002b;
}

.home .site-header + section {
  padding-top: 0px;
}

.home .site-header a:hover {
  color: #f10554 !important;
  text-decoration: none;
}

.site-logo {
  margin-left: 30px;
}

.site-logo img {
  width: 210px;
}

/* menu */
.menu-container {
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  margin-right: 15%;
}

.menu-container ul{
	margin: 0;
}

.menu-container li{
  list-style: none;
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-left: 22px;
  margin-right: 22px;
  line-height: 18px;
  padding: 10px 0;
  font-size: 16px;
}

.menu-container li a {
  color: whitesmoke !important;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.social-media {
	position: absolute;
	right: 35px;
  top: auto;
}

.social-media i {
  color: whitesmoke !important;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.social-media i:hover {
  color: #f10554 !important;
}

.site-header button{
  border: none;
  color: white;
  font-size: 20px;
}

.site-branding {
  align-items: center;
}

@media(max-width: 991px) {
  .site-branding {
    flex: 100;
    margin-left: 8%;
  }
}

/* HOME */

.gallery-image img,
.custom-overlay {
  transition: .3s all;
  border-radius: 3px;
}


.gallery-image .custom-overlay {
	text-align: center;
	height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);;
  color: #f10554;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-overlay h2 {
  font-size: 2.5em;
  font-family: initial;
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 46px;
  filter: blur(0px);
  }

.custom-overlay h2::before {
  content: "ʘ‿ʘ";
  margin-left: -21px;
}

.gallery-image:hover .custom-overlay {
	opacity: 1;
}

.gridsby figure:hover img {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

/* PROJECTS */

.HH-project a {
  color: #f10554 !important;
}

.HH-project a:hover {
  color: #333 !important;
  text-decoration: none;
}

/* ARTICLE */
.HH-article {
  display: flex;
  align-items: start;
}

.HH-navigation{
  flex: 5%;
}

.HH-navigation.previous {
  margin-right: 10px;
}

.HH-navigation.next {
  margin-left: 10px;
}

.HH-navigation .nav-previous, 
.HH-navigation .nav-next {
  text-align: center;
}

.HH-navigation i{
  font-size: 55px;
  opacity: 0.3;
}

.HH-navigation .navigation-title {
  opacity: 0;
}

.HH-navigation:hover * {
  color: #f10554;
  cursor: pointer;
}

.HH-navigation:hover i,
.HH-navigation:hover .navigation-title {
  opacity: 1;
}

.HH-content {
  flex: 80%;
}

.HH-next{
  flex: 5%;
}

/* CONTENT */

.entry-content {
  display: flex;
}

.entry-content img {
  width: 100%;
  height: auto;
}

.entry-content > *:first-child { /* img and description */
  flex: 66%;
  margin-right: 20px;
}

.entry-content > *:last-child {  /* Details */ 
  flex: 33%;
}

.entry-title .title {
  width: 100%;
  text-align: center;
}

.entry-title:before, .widget-title:before,
.entry-title:after, .widget-title:after {
  width: 25%;
  z-index: 2;
}

.entry-title:before, .widget-title:before,
.entry-title:after, .widget-title:after {
  background-color: #333;
  content: "";
  height: 1px;
  right: 0;
  position: absolute;
  top: 28px;
}

.entry-content h6 {
  text-transform: uppercase;
  display: block;
  color: #151515;
  line-height: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid #151515;
  font-size: 14px;
  font-weight: bold;
}

.attribute {
  margin-bottom: 2em;
}

/* FULLWIDTH PAGES */

.HH-about .page-content{
  display: flex;
}

.HH-about .page-content .entry-img{
  flex: 45%;
}

.HH-about .page-content .entry-description{
  flex: 55%;
}

.HH-about .page-content .entry-contact{
  font-weight: bold;
}

.test {
  width: 100%;
  height: 400px;
  background: url(../../uploads/2019/04/header.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 50px;
}

.HH-title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding: 22px;
  flex: 70%;
}

.HH-news {
  color: whitesmoke;
  padding: 22px;
  flex: 30%;
}