/*
Theme Name: Helene Hulak
Theme URI: http://www.helenehulak.com/
Description: Thème enfant du thème gridsby
Author: Laetitia Pot
Template: gridsby
Version: 0.1.0

/* HEADER */

a:hover {
  text-decoration: none;
}

.site-header button{
  border: none;
  color: black;
  font-size: 20px;
}

.social-media {
	position: relative;
	right: auto;
  top: auto;
  margin-top: 10px;
}

@media(min-width: 990px) {
  .social-media {
    max-width: 110px;
    margin-top: 0;
  }
}

.menu-container {
  justify-content: center;
}

.menu-container ul{
	margin: 0;
}

.menu-container li{
  list-style: none;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 22px;
  margin-right: 22px;
  line-height: 18px;
  padding: 10px 0;
  font-size: 14px;
  color: #777;
  font-weight: 500;
}


.menu-container li:first-child:before {
    content: none;
}

.menu-container li:before {
    position: absolute;
    top: 44%;
    left: -33px;
    width: 20px;
    height: 3px;
    background-color: rgba(0,0,0,0.1);
    content: "";
}

.menu-container li:hover {
	color: #8abeb2;
	cursor: pointer;
}

a:hover, a:focus, a:active {
    color: #8abeb2;
}

.site-header {
  padding-top: 20px;
}

.site-branding {
  align-items: center;
}

@media(max-width: 991px) {
  .site-branding {
    flex: 100;
    margin-left: 8%;
  }
}

.site-header .grid {
  padding-left: 0;
  padding-right: 0;
}

.site-logo img {
  width: 210px;
}

/* HOME */

.gallery-image img,
.custom-overlay {
  transition: .3s all;
  border-radius: 3px;
}


.gallery-image .custom-overlay {
	text-align: center;
	height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);;
    color: #fff;
	opacity: 0;
	display: flex;
    align-items: center;
    justify-content: center;
}
.custom-overlay h2 {
	font-size: 1.5em;
	border: solid 2px;
	padding: 5px 8px;
  }

.gallery-image:hover .custom-overlay {
	opacity: 1;
}

.gridsby figure:hover img {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

/* ARTICLE */

.HH-article {
  display: flex;
  align-items: start;
}

.HH-navigation{
  flex: 5%;
}

.HH-navigation.previous {
  margin-right: 10px;
}

.HH-navigation.next {
  margin-left: 10px;
}

.HH-navigation .nav-previous, 
.HH-navigation .nav-next {
  text-align: center;
}

.HH-navigation i{
  font-size: 55px;
  opacity: 0.3;
}

.HH-navigation .navigation-title {
  opacity: 0;
}

.HH-navigation:hover * {
  color: #8abeb2;
  cursor: pointer;
}

.HH-navigation:hover i,
.HH-navigation:hover .navigation-title {
  opacity: 1;
}

.HH-content {
  flex: 80%;
}

.HH-next{
  flex: 5%;
}

/* CONTENT */

.entry-content {
  display: flex;
}

.entry-content img {
  width: 100%;
  height: auto;
}

.entry-content > *:first-child { /* img and description */
  flex: 66%;
  margin-right: 20px;
}

.entry-content > *:last-child {  /* Details */ 
  flex: 33%;
}

.entry-title .title {
  width: 100%;
  text-align: center;
}

.entry-title:before, .widget-title:before,
.entry-title:after, .widget-title:after {
  width: 25%;
  z-index: 2;
}

.entry-title:after, .widget-title:after {
  background-color: #e5e5e5;
  content: "";
  height: 1px;
  right: 0;
  position: absolute;
  top: 55%;
}

.entry-content h6 {
  text-transform: uppercase;
  display: block;
  color: #151515;
  line-height: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid #151515;
  font-size: 14px;
  font-weight: bold;
}

.attribute {
  margin-bottom: 2em;
}

/* FULLWIDTH PAGES */

.HH-about .page-content{
  display: flex;
}

.HH-about .page-content .entry-img{
  flex: 45%;
}

.HH-about .page-content .entry-description{
  flex: 55%;
}

.HH-about .page-content .entry-contact{
  font-weight: bold;
}